<h2 class="font-bold text-xl mb-4">Who to follow</h2>

{{#each followthem}}
  <div class="flex justify-between mb-4">
    <div class="flex items-center">
      <a href="/user/{{_id}}" class="flex">
        <div>
          <img class="w-16 mr-2 rounded-full" src="{{profilePicture}}" alt="" />
        </div>
        <div>
          <p><b>{{displayname}}</b></p>
          <p class="text-gray-600">@{{username}}</p>
        </div>
      </a>
    </div>
    <div class="flex items-center">
      <form
        class="flex items-center"
        action="/user/follow?id={{_id}}"
        method="post"
      >
        <input
          name="user"
          class="bg-gray-900 text-gray-200 py-2 px-4 rounded-full font-bold cursor-pointer hover:bg-gray-700"
          type="submit"
          value="Follow"
        />
      </form>
    </div>
  </div>
{{/each}}