<div
  class="sticky top-0 border-r border-gray-200 w-full backdrop-blur-xl bg-white/30"
>
  <div class="p-5 flex">
    <div class="flex items-center mr-10">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-arrow-left-short"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
          ></path>
        </svg>
      </a>
    </div>
    <div>
      <h2 class="text-2xl font-bold">{{profile.username}}</h2>
      <p class="text-gray-400">{{profile.posts_count}}tweets</p>
    </div>
  </div>
</div>
<main class="relative -z-10">
  <div>
    <img
      class="w-full"
      src="https://via.placeholder.com/850x300"
      alt="Cover image"
    />
  </div>
  <div
    class="relative z-30 h-[300px] flex-col p-5 border-r border-b border-gray-200"
  >
    {{#if edit}}
      <a
        onclick="editmodal()"
        class="absolute bottom-10 right-5 border border-gray-200 p-3 rounded-full"
      >Edit profile</a>
    {{/if}}
    <div class="relative top-[-60px] sm:top-[-85px] xl:top-[-80px]">
      <img
        class="w-20 h-20 md:w-32 md:h-32 lg:w-32 lg:h-32 xl:w-42 xl:h-42 border-4 border-white rounded-full mb-6"
        src="https://avatars.githubusercontent.com/u/5972004?v=4?s=400"
        alt=""
      />

      <h2 class="text-2xl font-bold">{{profile.displayname}}</h2>
      <p class="text-gray-500">@{{profile.username}}</p>
      <p class="mb-4">{{profile.bio}}</p>
      <div class="flex justify-start space-x-4 text-gray-500 text-lg mb-4">
        <div>{{profile.city}}</div>
        <div>{{profile.website}}</div>
        <div>Joined January 2012</div>
      </div>
      <div
        class="flex justify-start space-x-4 text-gray-500 text-lg font-medium"
      >
        <div><b class="text-black">{{following_count}}</b> Following</div>
        <div><b class="text-black">{{followers_count}}</b> Followers</div>
      </div>
    </div>
  </div>
</main>